<!DOCTYPE html>
<html>
  <head>
    <style type='text/css'>
body {
background-color: #EEEEEE;
padding-top: 60px;
padding-bottom: 40px;
}
</style>
    <title>SS-X小网站</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'bootstrap/js/bootstrap.min.js', 'data-turbolinks-track' => true %>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet"/>
    <%= csrf_meta_tags %>

    <%= yield :head %>
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">SSX86.me</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="http://blog.ssx86.me">Blog</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tools<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li class="nav-header">工具</li>
                  <li class="divider"></li>
                  <li><a href="/tools/calendar" target="_blank">日历</a></li>
                  <li><a href="/tools/ascii" target="_blank">ASCII</a></li>
                  <li><a href="https://stackedit.io/editor" target="_blank">StackEditor</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Bookmarks<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li class="nav-header">娱乐</li>
                  <li class="divider"></li>
                  <li><a href="http://www.5tps.com/mlist/28_1.html" target="_blank">王玥波评书</a></li>
                  <li><a href="http://www.douyutv.com/qingjiao" target="_blank">斗鱼韩国女团24小时</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Documents<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li class="nav-header">文档</li>
                  <li class="divider"></li>
                  <li><a href="/documents/git-htmldocs-2.3.0/index.html">Git Document</a></li>
                  <li><a href="/documents/progit.html">Git Pro(加载缓慢)</a></li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>


    <div class="container">
      <%= yield :body %>
    </div>

  </body>
</html>
